{% extends "base.html" %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<!-- This template is the code institue idea with customisation -->
{% block content %}
    <!-- <div class="container index-container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-12">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}/landinglaptop.png" alt="laptop image">
            </div>
            <div class="col-auto mb-3">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-info rounded-0 text-uppercase py-lg-3">Start!</a>
                </h4>
            </div>
        </div>
    </div> -->

  <!-- HERO SECTION for Home Page -->
  <section class="hero-section py-5 bg-light text-center">
    <div class="container">
      <h1 class="display-4 mb-3 font-weight-bold text-primary">Find Your Next Laptop</h1>
      <p class="lead mb-4">Shop affordable, reliable laptops from Dell, HP, Apple, Lenovo & more! Fast delivery. Secure payment.</p>
      <div class="hero-buttons">
        <a href="{% url 'products' %}" class="btn btn-info btn-lg mx-2 mb-2">Shop All Laptops</a>
        <a href="{% url 'products' %}?brand=deals" class="btn btn-warning btn-lg mx-2 mb-2">See Special Offers</a>
        <a href="{% url 'products' %}?brand=apple" class="btn btn-dark btn-lg mx-2 mb-2">Shop Apple</a>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <i class="fas fa-shield-alt fa-2x text-success"></i>
          <h5 class="mt-2">Trusted Brands</h5>
        </div>
        <div class="col-md-4">
          <i class="fas fa-credit-card fa-2x text-info"></i>
          <h5 class="mt-2">Secure Payments</h5>
        </div>
        <div class="col-md-4">
          <i class="fas fa-truck fa-2x text-warning"></i>
          <h5 class="mt-2">Fast Delivery</h5>
        </div>
      </div>
    </div>
  </section>
 
{% endblock %}
