{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row about-section">
        <!-- Image -->
        <div class="col-12 col-md-4 text-center">
            {% if about.image %}
                <img class="profile-img mt-2 mb-4 p-2" src="{{ about.image.url }}" alt="{{ about.title }}">
            {% else %}
                <img class="profile-img mt-2 mb-4 p-2" src="{{ MEDIA_URL }}nobody.jpg" alt="{{ about.title }}">
            {% endif %}
        </div>
        <!-- About text -->
        <div class="col-12 col-md-8 text-center text-md-left about-text">
            <h2 class="p-2">{{ about.title }}:</h2>
            <p class="text-black">{{ about.content }}</p>
            <p class="text-muted"><em>Updated on: </em>{{ about.updated_on }}</p>
        </div>
    </div>
    <!-- Form  -->
    <div class="row">
        <div class="col-12 col-md-8 offset-md-4 text-center text-md-left my-5 opinion-section">
            <h3 class="p-2">Your opinion is important!</h3>
            <p class="text-black p-2">
                Whether you have a project in mind, wish to suggest
                something, or simply want to brainstorm some ideas,
                I will be glad to hear from you. Fill out the form
                and we can get the ball rolling!
            </p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-left">
                    <button type="submit" class="btn btn-info rounded-0 ml-2">Submit</button>
                    <a href="{% url 'products' %}" class="btn btn-secondary rounded-0 ml-2">Keep Shopping</a>
                </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}